# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1TDSJ-2020\testes-unitarios\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
